nav ul li {
  list-style: none;
  display: inline-flex;
  margin-right: 1rem  ;
}
.color-background{
    padding: 2rem;
    background-color: #ae2f3f;
    border-radius: 30px; 
    position: relative;
  }
  .col-sem-margem{
    padding-left: 5px;
    padding-right: 5px;
  }
  .imagem-home{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    margin-top: -6rem;
  }
  .imagem-home img{
    height: 10rem;
  }
  h2{
      padding-left: 5rem;
  }
  p{
      margin-top: 0.5rem;
      font-size: 20px;
      text-align: justify;
  }