.main-cover {
  position: relative;
  background-color: #ae2f3f;
  padding: 2rem;
  width: 40rem;
  border-radius: 15px 30px;
}

.img-cover {
  position: absolute;
  top: -4rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.img-cover img {
  height: 10rem;
}

header h2 {
  padding-left: 12rem;
}

.contact {
  background-color: #464a4b;
  border-radius: 10px;
  margin-top: 3rem;
}

.contact div a img {
  width: 7rem;
}
