.main-c{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
}

.main-c:hover{
  color: #888484;
}

.color-background{
  padding: 2rem;
  background-color: #ae2f3f;
  border-radius: 15px 30px; 
  position: relative;
}
.col-sem-margem{
  padding-left: 5px;
  padding-right: 5px;
}
.imagem-home{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  margin-top: -7rem;
}
.imagem-home img{
  height: 200px;
}
.background-bottons{
  background-color: #464a4b;
  border-radius: 200px 200px; 
  height: 100px;
  width: 250px; 
  margin-top: 3rem;
  list-style: none;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN CODE  */
