.main-c{
  background-color: #ae2f3f;
  width: 200px;
  border-radius: 200px 200px;  
}

.color.background{
  background-color: #4d4a4a;
  width: 40px;
  border-radius: 200px 200px;  
}
.col-sem-margem{
  padding-left: 5px;
  padding-right: 5px;
}

/* MAIN CODE  */
